* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}
body { 
	font: 13px Helvetica, Arial; 
}
#form-wrap{
	padding: 3px; 
	bottom: 0; 
	width: 100%; 
	position: fixed; 
	background: #000; 
}
form input { 
	border: 0; 
	padding: 10px; 
	width: 80%; 
	margin-right: .5%; 
}
form button #send { 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}
form button #hist { 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}
#msgs-wrap{
}
#msgs { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#msgs li { 
	padding: 5px 10px; 
}
#msgs li:nth-child(odd) { 
	background: #eee; 
}